<div class="panel panel-default message-card">
     <div class="panel-heading">
        <h3>{{article.title}}</h3>
        <h5>{{formatDate article.created}}</h5>
     </div>
     <div class="panel-body">
          {{formatNews article.content}}
     </div>
     {{yield}}
</div>
