<thead>
     <tr>
          <td colspan="5">
               {{#link-to 'admin.clubs.new'}}
                    <button class="btn btn-success btn-block">Create</button>
               {{/link-to}}
          </td>
     </tr>
     <tr>
          <td>Name</td>
          <td>Website</td>
          <td>Logo</td>
          <td>Keyword</td>
          <td>Actions</td>
     </tr>
</thead>
