{{!--Dynamic page which simply renders a single news article(for sharing to outside sources)--}}
<div class="col-sm-8 col-sm-offset-2">   {{!--Ensures centering on the page--}}
     <h1>{{model.title}} </h1>
     <h3>{{formatDate model.created}}</h3>
     {{formatNews model.content}}
</div>
