{{!--Simple static article, though maybe should be available to admin for editing(keeping dates current)--}}
<h1>ESSDA</h1>
<h3>Season Dates</h3>
<p>Second Half 2016: 28th August 2016 to 27th November 2016<br/>
First Half 2017: 5th March 2017 to 11th June 2017</p>
<p>Age group 2005(currently 11s) will become 12s in 2017 and will move to play eleven a side with SERYFA at the end of the 2017 First Half season.</p>
<h3>Meeting Dates</h3>
<p>The next scheduled ESSDA meetings are:
     <ul>
          <li>Sunday 20th November 2016 (Annual General Meeting)</li>
     </ul>
     All meeting are normally on a Sunday evening at 7:30pm at Jewel Miners Club<br/>
     Minutes of previous meetings are available on the Minutes Page.</p>
<h3>Friendly Matches and Tournament Play</h3>
<p>
Tournament play and friendly matches, except between two teams within ESSDA, must have the prior permission of the association General Secretary.
Clubs are reminded that they need a permit from the SYFA to play in football festivals or tournaments.
Permission forms can be downloaded from the SYFA website www.scottishyouthfa.co.uk or by contacting the General Secretary.
<br/>Failure to get appropriate permissions may invalidate your insurance.
</p>
<h3>ESSDA Mission</h3>
<p>The East of Scotland Soccer Development Association was formed in 1997 by a handful of dedicated football club coaches. It has now grown into one of the largest football associations of it’s kind in Scotland with a membership of over 230 teams.</p>
<p>Since the very start, the objective has been player development, with the emphasis on allowing the children to enjoy Scotland’s national game in a fun, safe and secure environment. Towards this goal, Soccer 7s, Super 5s and Football 4s games are arranged and monitored for boys and girls between the ages 7 – 12, regardless of race, colour or religious belief.</p>
<p>Although this ethos remains fundamental, the Association has a responsibility to develop and progress. Rather than just letting the players “get on with it”, forward thinking has driven the formation of well-structured leagues, improved coaching and better education for both players and volunteers. Throughout this growth, the Association has never lost sight of the fact that it is still the children who count for everything. Their development, both as footballers and as individuals, is the key to the Association's success.</p>
<p>ESSDA has signed up to, and is committed to, the SFA / SYFA Player Pathway. Our seasons run from March to November with a winter indoor season in January and February. Our older age groups 9s, 10s, 11s and 12s play Soccer 7s while younger groups 7s play Football 4s and 8s play Super 5s.</p>
<p>Soccer 7s is organised in divisions, reflecting the variety of levels of football ability that children exhibit. The aim is to give all children a game, at a level where they have a fair chance of competing. Movement between teams within clubs is encouraged, as children become confident. The “strongest” division is named Pele, with Maradona, Zidane (or Zoff) and Beckham (or Beckenbauer).
Football 4s and Super 5s is organised at a number of central venues on a Saturday or Sunday morning.</p>
<p>Although there are many clubs within the Association, places for children can be difficult to achieve. For details of clubs within your area please contact the Association General Secretary, see the links page or our new map page.</p>
<h3>ESSDA Constitution</h3>
<p>The ESSDA Constitution is available for viewing or downloading on the Constitution page.</p>
<h3>SPORTS  INJURIES  FIRST-AID  COURSES</h3>
<p>
These  courses  are  run  by  the  St  Andrews  Ambulance  Association,  and  can  be  arranged  either  for  individuals  or  groups  (minimum 10, maximum 15).   This  12  hour  course  costs  £45.00  per  head  inclusive  of  manual.  Are  you  interested ?
Please  contact  Mr  Davie Smith of Beechwood FC  on  07546 529 727  or contact Ian Ridland of St Andrews Association on irsc20294@blueyonder.co.uk
</p>
