{{!--Simple static information page--}}
<h1>Child Protection - The PVG Scheme</h1> 
<p>Anyone undertaking a supervisory role in any Club must be a member of the PVG Scheme and understand their role and responsibilities.</p>
<p>Adults who haven’t previously volunteered and haven’t had the necessary vetting checks should not be left alone with players or take them to the toilet unaccompanied.</p>
<p>For further information on Child Protection, please see http://www.scottishyouthfa.co.uk/index.php/information-downloads/protection-information</p>
<p>Your Club should have a Child Protection Officer who should be able to answer your queries.</p>
<p>As of Summer 2015, it will be SYFA Policy that all Club Officials are members of PVG Scheme. Please start the registration process now!</p>
<p>To be PVG checked,  every official must complete either
<ul>
     <li>PVG Application for Membership (for officials who are not members of the PVG Scheme)</li>
     <li>Existing PVG Application (for officials with a PVG membership for another organisation)</li>
</ul>
</p>
<p>All PVG applications must be witnessed by an SYFA Additional Signatory, who will require to see:
<ul>
     <li>A birth certificate. No birth certificate = no PVG. Photocopies are not acceptable. Replacement birth certificates can be ordered via Register House.</li>
     <li>A passport (if you have one)</li>
     <li>A driving licence (if you have one)</li>
     <li>If you have neither a passport nor a photo driving licence, some other photo id must be shown, eg work id</li>
     <li>Proof of address - a recent utility bill or official letter</li>
     <li>You will also require to know your National Insurance number</li>
     <li>If you are an existing PVG scheme member, you must bring along your current PVG Scheme certificate.</li>
</ul>
</p>
<p>Each applicant must appear in person and must have all their documentation - not just a subset that they deem acceptable. If you don't have all necessary documents, you won't be checked.</p>
