<div class="col-sm-8 col-sm-offset-2">
     <div class="well well-sm">
         <ul class="nav nav-pills nav-justified">
           {{#link-to 'admin.contact' tagName="li"}}<a href>Messages</a>{{/link-to}}
           {{#link-to 'admin.news' tagName="li"}}<a href>News Feed</a>{{/link-to}}
            {{#link-to 'admin.clubs' tagName="li"}}<a href>Clubs</a>{{/link-to}}
         </ul>
     </div>
</div>
{{outlet}}
