<div class="container col-sm-8 col-sm-offset-2">
          <div class="jumbotron" align='center'>
               <img height='300px' src='http://images.clipartpanda.com/soccer-ball-clipart-9i4ayq5iE.png'>
               <h2>
                    East Of Scotland Soccer Development Agency
               </h2>
               <br/>
               <a href='https://twitter.com/ESSDAfootball'>
                    <button class='btn btn-lg btn-primary'>Follow us on Twitter</button>
               </a>
          </div>
</div>
