<div class="container col-sm-8 col-sm-offset-2">  {{!--Ensures centering--}}
          <div class="jumbotron" align='center'>   {{!--Simple image,title and link to twitter acount--}}
               <img height='300px' src='assets/football.png'>
               <h2>
                    East Of Scotland Soccer Development Agency
               </h2>
               <br/>
               <a href='https://twitter.com/ESSDAfootball'>
                    <button class='btn btn-lg btn-primary'>Follow us on Twitter</button>
               </a>
          </div>
</div>
