<div class="col-sm-6 col-sm-offset-3">
     {{#each sortedModel as |newsArticle|}}
          {{article-read article=newsArticle}}
     {{else}}
          <br/>
          <div align="center">No News Articles.</div>
     {{/each}}
</div>
